Repository evalgo-org/graphium: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

feat(phase-10): Add graph visualization API endpoints
  internal/api/handlers_graph.go
  internal/api/server.go
  internal/web/templates.templ
Due: unittests

feat(phase-10): Add interactive graph visualization frontend with Cytoscape.js
  internal/api/server.go
  internal/web/handlers.go
  internal/web/templates.templ
  internal/web/templates_templ.go
  static/css/styles.css
Due: unittests

docs(phase-10): Complete Phase 10 documentation and roadmap update
  PHASE_10_GRAPH_VISUALIZATION_COMPLETE.md
  ROADMAP.md
Due: none

fix(graph): Skip edges for non-existent hosts to prevent Cytoscape.js errors
  internal/api/handlers_graph.go
Due: unittests

fix(storage): Accept both ComputerServer and ComputerSystem types in ListHosts query
  internal/storage/storage.go
Due: unittests

docs: Mark EVE library fixes as resolved
  EVE_FIXES_NEEDED.md
Due: none

feat(websocket): Add WebSocket infrastructure for real-time graph updates (Step 1/4)
  internal/api/handlers_websocket.go
  internal/api/server.go
  internal/api/websocket.go
  internal/api/websocket_hub.go
Due: unittests

feat(websocket): Wire API handlers to broadcast real-time events (Step 2/4)
  internal/api/handlers_containers.go
  internal/api/handlers_hosts.go
Due: unittests

feat(websocket): Add frontend WebSocket client for real-time graph updates (Step 3/4)
  internal/web/templates.templ
  internal/web/templates_templ.go
Due: unittests

feat(graph): Add export functionality for PNG, SVG, and JSON formats
  internal/web/templates.templ
  internal/web/templates_templ.go
Due: unittests

fix(storage): Fix duplicate container counting in host distribution
  internal/storage/storage.go
Due: unittests

feat(api): Add pagination support for containers and hosts endpoints
  internal/api/handlers_containers.go
  internal/api/handlers_hosts.go
  internal/api/pagination.go
  internal/api/types.go
Due: unittests

feat: improve error handling with structured error responses
  internal/api/errors.go
  internal/api/handlers_containers.go
  internal/api/handlers_hosts.go
  internal/api/server.go
Due: unittests

feat: add comprehensive request validation middleware
  internal/api/middleware.go
  internal/api/server.go
Due: unittests

test: add comprehensive unit tests for core API functionality
  internal/api/errors_test.go
  internal/api/handlers_validation_test.go
  internal/api/middleware_test.go
  internal/api/pagination_test.go
Due: none

Add comprehensive integration test suite
  internal/api/server.go
  tests/integration/README.md
  tests/integration/api_integration_test.go
Due: unittests, integration

Add comprehensive godoc documentation to all packages
  doc.go
  internal/config/config.go
  internal/validation/validator.go
  models/container.go
  models/host.go
Due: unittests

Update ROADMAP.md with Option B completion
  ROADMAP.md
Due: none

Add node filtering to graph visualization (Phase 10.3)
  internal/web/templates.templ
  internal/web/templates_templ.go
Due: unittests

Reorganize roadmap phases: Prioritize OpenAPI and Security
  ROADMAP.md
Due: none

Add OpenAPI 3.0 documentation with Swagger UI (Phase 11 Part 1)
  cmd/graphium/main.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/api/handlers_containers.go
  internal/api/server.go
Due: unittests

Phase 11 Complete: OpenAPI Documentation with Swagger UI
  README.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/api/handlers_containers.go
  internal/api/handlers_graph.go
  internal/api/handlers_hosts.go
  internal/api/handlers_stats.go
Due: unittests

Phase 12 Part 1: JWT Authentication Foundation
  internal/auth/jwt.go
  internal/auth/middleware.go
  internal/config/config.go
  models/user.go
Due: unittests

Phase 12 Part 2: Authentication API Endpoints & User Storage
  configs/config.yaml
  internal/api/handlers_auth.go
  internal/api/server.go
  internal/storage/users.go
Due: unittests

Phase 12 Part 3: Authentication Middleware & User Management
  internal/api/handlers_auth.go
  internal/api/handlers_users.go
  internal/api/server.go
  internal/storage/users.go
Due: unittests

Phase 12 Complete: Production-Ready Security & Authentication
  configs/config.yaml
  internal/auth/middleware.go
Due: unittests

Phase 11 Complete: OpenAPI Documentation
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: none

Chore: Remove graphium binary from git tracking
  .gitignore
Due: none

Fix: Correct Taskfile.yml syntax for echo commands
  Taskfile.yml
Due: none

Fix: Replace local EVE path with GitHub dependency for CI compatibility
  go.mod
  go.sum
Due: none

Fix: Resolve nil pointer dereference in web render test
  internal/web/web_test.go
Due: none

Fix: Resolve golangci-lint errors and warnings
  .golangci.yml
  agent/agent.go
  internal/api/handlers_auth.go
  internal/api/handlers_containers.go
  internal/api/handlers_graph.go
  internal/api/handlers_hosts.go
  internal/api/handlers_users.go
  internal/api/handlers_validation.go
  internal/api/handlers_validation_test.go
  internal/api/middleware.go
  internal/api/pagination.go
  internal/api/pagination_test.go
  internal/api/server.go
  internal/api/types.go
  internal/auth/jwt.go
  internal/auth/middleware.go
  internal/commands/query.go
  internal/commands/server.go
  internal/commands/validate.go
  internal/storage/changes.go
  internal/storage/graph.go
  internal/storage/storage.go
  internal/storage/users.go
  internal/validation/validator.go
  internal/web/handlers.go
  internal/web/web_test.go
  tests/integration/api_integration_test.go
  tests/integration_test.go
Due: unittests

Fix golangci-lint errors in codebase
  .github/workflows/ci.yml
  agent/agent.go
  internal/api/handlers_graph.go
  internal/api/websocket_hub.go
  internal/commands/agent.go
  internal/commands/root.go
  internal/config/config.go
Due: unittests

Fix dashboard quick action links returning 404
  internal/web/templates.templ
  internal/web/templates_templ.go
Due: unittests

Fix nixpacks configuration for Docker build
  nixpacks.toml
Due: none

Fix coverage report generation in CI
  .github/workflows/ci.yml
Due: none

Fix coverage report merging to handle all mode types
  .github/workflows/ci.yml
Due: none

Fix nixpacks Go version reference for Docker build
  nixpacks.toml
Due: none

Remove explicit cacert package to avoid Nix conflict
  nixpacks.toml
Due: none

Add View Details functionality for containers and hosts
  internal/api/server.go
  internal/web/handlers.go
  internal/web/templates.templ
  internal/web/templates_templ.go
  static/css/styles.css
Due: unittests

Path conditions:
  unittests: any of: internal/, pkg/, storage/, but not: **/*_test.go, generated/**/*, docs/**/*, tools/**/*
  integration: any of: tests/integration/, but not: **/*_test.go, generated/**/*, docs/**/*, tools/**/*
